In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv('/content/NBL.csv')
df.head()

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
0,1985,1,1,West,1,83,St Johns,Southern,59,16
1,1985,1,1,West,2,81,VCU,Marshall,65,15
2,1985,1,1,West,3,65,NC State,Nevada,56,14
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13
4,1985,1,1,West,5,58,Washington,Kentucky,65,12

In [ ]:
df.describe()

,Year,Round,Region Number,Seed,Score,Score.1,Seed.1
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,2002.000000,1.904762,2.444444,3.887528,74.304308,68.051701,9.474830
std,10.101796,1.191698,1.123993,2.900662,12.753399,12.295443,4.138256
min,1985.000000,1.000000,1.000000,1.000000,32.000000,29.000000,1.000000
25%,1993.000000,1.000000,1.000000,2.000000,65.000000,59.000000,6.000000
50%,2002.000000,1.000000,2.000000,3.000000,74.000000,67.000000,10.000000
75%,2011.000000,2.000000,3.000000,6.000000,82.000000,76.000000,13.000000
max,2019.000000,6.000000,4.000000,16.000000,131.000000,149.000000,16.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           2205 non-null   int64
 1   Round          2205 non-null   int64
 2   Region Number  2205 non-null   int64
 3   Region Name    2205 non-null   object
 4   Seed           2205 non-null   int64
 5   Score          2205 non-null   int64
 6   Team           2205 non-null   object
 7   Team.1         2205 non-null   object
 8   Score.1        2205 non-null   int64
 9   Seed.1         2205 non-null   int64
dtypes: int64(7), object(3)
memory usage: 172.4+ KB

In [ ]:
df.dtypes

Year              int64
Round             int64
Region Number     int64
Region Name      object
Seed              int64
Score             int64
Team             object
Team.1           object
Score.1           int64
Seed.1            int64
dtype: object

In [ ]:
#1)Display all object column in Dataset
# Loop through columns of object dtype
for col in df.columns:
    if df[col].dtype == 'object':  # Check if column is of object type
        print(f"Column: {col}")
        print(df[col])  # Display the column
        print("\n")

Column: Region Name
0               West
1               West
2               West
3               West
4               West
            ...
2200            East
2201         Midwest
2202      Final Four
2203      Final Four
2204    Championship
Name: Region Name, Length: 2205, dtype: object


Column: Team
0          St Johns
1               VCU
2          NC State
3              UNLV
4        Washington
           ...
2200       Virginia
2201         Auburn
2202    Michigan St
2203       Virginia
2204     Texas Tech
Name: Team, Length: 2205, dtype: object


Column: Team.1
0           Southern
1           Marshall
2             Nevada
3       San Diego St
4           Kentucky
            ...
2200          Purdue
2201        Kentucky
2202      Texas Tech
2203          Auburn
2204        Virginia
Name: Team.1, Length: 2205, dtype: object

In [ ]:
#2)Find all the games where the winning team scored more than 10 points.
high_scoring_games = df[df['Score'] > 10]

# Display the filtered results
high_scoring_games

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
0,1985,1,1,West,1,83,St Johns,Southern,59,16
1,1985,1,1,West,2,81,VCU,Marshall,65,15
2,1985,1,1,West,3,65,NC State,Nevada,56,14
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13
4,1985,1,1,West,5,58,Washington,Kentucky,65,12
...,...,...,...,...,...,...,...,...,...,...
2200,2019,4,3,East,1,80,Virginia,Purdue,75,3
2201,2019,4,4,Midwest,5,77,Auburn,Kentucky,71,2
2202,2019,5,1,Final Four,2,51,Michigan St,Texas Tech,61,3
2203,2019,5,2,Final Four,1,63,Virginia,Auburn,62,5
2204,2019,6,1,Championship,3,77,Texas Tech,Virginia,85,1

In [ ]:
#3)Find out when the winning team scored more than 150 points and when the
#losing team scored less than 100 points.
scoring_games = df[(df['Score'] > 50)& (df['Score'] < 60)]
# Display the filtered results
scoring_games

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
4,1985,1,1,West,5,58,Washington,Kentucky,65,12
7,1985,1,1,West,8,54,Iowa,Arkansas,63,9
11,1985,1,2,East,4,59,Loyola Illinois,Iona,58,13
21,1985,1,3,Midwest,6,53,Texas Tech,Boston College,55,11
23,1985,1,3,Midwest,8,55,USC,Illinois St,58,9
...,...,...,...,...,...,...,...,...,...,...
2162,2019,1,3,South,5,54,Wisconsin,Oregon,72,12
2171,2019,1,4,Midwest,6,59,Iowa St,Ohio St,62,11
2185,2019,2,3,East,13,54,UC Irvine,Oregon,73,12
2194,2019,3,3,East,1,53,Virginia,Oregon,49,12
2202,2019,5,1,Final Four,2,51,Michigan St,Texas Tech,61,3

In [ ]:
#4)How many games were Played in each Season?
games_per_season = df['Year'].value_counts()

# Display the result
games_per_season

Year
1985    63
2011    63
2005    63
2006    63
2007    63
2008    63
2009    63
2010    63
2012    63
2003    63
2013    63
2014    63
2015    63
2016    63
2017    63
2018    63
2004    63
2002    63
1986    63
1993    63
1987    63
1988    63
1989    63
1990    63
1991    63
1992    63
1994    63
2001    63
1995    63
1996    63
1997    63
1998    63
1999    63
2000    63
2019    63
Name: count, dtype: int64

In [ ]:
#5)What is the average winning score for each team?
average_winning_score = df.groupby('Team')['Score'].mean()

# Display the result
average_winning_score

Team
Alabama                  77.736842
Arizona                  77.580645
Arizona St               75.333333
Arkansas                 83.100000
Arkansas Little Rock     66.000000
                           ...
Wisconsin                66.833333
Wisconsin Green Bay      48.000000
Wofford                  84.000000
Wyoming                 115.000000
Xavier                   71.636364
Name: Score, Length: 164, dtype: float64

In [ ]:
#6) How many games were won at home, away, and at neutral location?
location_games = df['Region Name'].value_counts()

# Display the result
location_games

Region Name
West            525
East            525
Midwest         510
South           315
Southeast       210
Final Four       70
Championship     35
Southwest        15
Name: count, dtype: int64